div#main {
    background-color: aquamarine;
    border: 3px black solid;
    border-radius: 8px;
    display: flex;
    gap: 5px;
    padding: 5px;
    min-width: 320px;
    flex-direction: column;
    justify-content: center;
}

p {
    margin: 5px;
}

#date_frame {
    /*margin: 5px;*/
    border: 2px black solid;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2;
}


/*.container {*/
/*    background: #f2f2f2;*/
/*    border: 2px black solid;*/
/*    border-radius: 8px;*/
/*    height: 500px;*/
/*    overflow-y: scroll;*/
/*}*/

.table {
    width: 100%; /* Растягиваем таблицу на всю ширину блока */
    border-collapse: collapse; /* Объединяем границы ячеек */
    box-sizing: border-box;
    padding: 5px;
}

.table th, .table td {
    padding: 8px; /* Отступы внутри ячеек */
    border-bottom: black 1px solid;
    text-align: center; /* Выравнивание текста по левому краю */
    box-sizing: border-box;

}

#button-block {
    /*margin: 5px;*/
    border: 2px black solid;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
}

.btn {
    flex: 1; /* Кнопка занимает всё доступное пространство внутри контейнера */
    margin: 3px; /* Отступы между кнопками */
    padding: 10px; /* Отступы внутри кнопки */
    text-align: center; /* Выравнивание текста по центру */
    background-color: #007bff; /* Цвет фона */
    color: #fff; /* Цвет текста */
    border: none; /* Убираем границы */
    border-radius: 5px; /* Закругляем углы */
    cursor: pointer; /* Курсор при наведении */
    transition: background-color 0.3s; /* Плавное изменение цвета фона при наведении */
    text-decoration: None;
}

.btn:hover {
    background-color: #0056b3; /* Цвет фона при наведении */
}

.container {
    width: 100%;
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.header {
    display: flex;
    width: 100%;
    /* height: 50px; */
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    flex-direction: column;
    /* align-content: center; */
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.form p {
    margin-bottom: 10px;
}

.form label {
    font-weight: bold;
}

.form input, .form select {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.form button:hover {
    background-color: #45a049;
}

